// banner
.banner-img {
  background-image: url("https://images.unsplash.com/photo-1472491235688-bdc81a63246e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: top;
  height: calc(100vh - 150px);
}
@media (min-width: 768px) {
  .banner-img {
    height: calc(100vh - 170px);
  }
}

.banner-mt {
  margin-top: 270px;
}
@media (min-width: 768px) {
  .banner-mt {
    margin-top: 200px;
  }
}

.banner-item {
  width: 222px;
  font-size: 1.25rem;
  box-shadow: 2px 3px 2px 0px #00000040;
}

@media (min-width: 768px) {
  .banner-item {
    width: 531px;
    font-size: 1.75rem;
  }
}

.benner-style {
  font-size: 2.5rem;
  line-height: 1.2;
  text-shadow: 4px 4px #00000040;
}
@media (min-width: 768px) {
  .benner-style {
    font-size: 5rem;
    line-height: 96px;
  }
}

.banner-text2 {
  font-size: 2.5rem;
  text-shadow: 4px 4px #00000040;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .banner-text2 {
    font-size: 5rem;
    line-height: 10px;
  }
}

// 初衷
.themes-my {
  margin-top: 146px;
}

@media (min-width: 768px) {
  .themes-my {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}

.themes-item {
  padding: 121px 47px 32px 47px;
}

@media (min-width: 768px) {
  .themes-item {
    padding: 50px 30px 50px 350px;
  }
}

@media (min-width: 992px) {
  .themes-item {
    padding: 126.5px 64px 126.5px 0;
  }
}

.themes-text {
  font-size: 2.5rem;
  line-height: 48px;
}

@media (min-width: 768px) {
  .themes-text {
    font-size: 5rem;
    line-height: 96px;
  }
}

.rounded-24 {
  border-radius: 24px;
}

.themes-shadow {
  box-shadow: 0px 4px 20px 0px #00000040;
}

.themes-dog {
  &::after {
    position: absolute;
    content: "";
    display: block;
    right: 20%;
    bottom: 80%;
    width: 256px;
    height: 223px;
    background: url("https://images.unsplash.com/photo-1524641234638-4c303747c310?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    border-radius: 24px;
    background-size: cover;
    background-position: center center;
  }
}

@media (min-width: 768px) {
  .themes-dog {
    &::after {
      position: absolute;
      content: "";
      display: block;
      right: 380px;
      bottom: 50px;
      width: 350px;
      height: 400px;
    }
  }
}

@media (min-width: 992px) {
  .themes-dog {
    &::after {
      position: absolute;
      content: "";
      display: block;
      right: 300px;
      bottom: 150px;
      width: 600px;
      height: 450px;
    }
  }
}

@media (min-width: 1200px) {
  .themes-dog {
    &::after {
      right: 350px;
      bottom: 70px;
      width: 798px;
      height: 539px;
    }
  }
}
@media (min-width: 1400px) {
  .themes-dog {
    &::after {
      right: 450px;
      bottom: 60px;
    }
  }
}

.mt-11 {
  margin-top: 44px;
}

.pet-btn-container {
  font-size: 24px;
  .button-group {
    .btn {
      color: #f2a09e;
      background-color: #ffffff;
      padding: 12px 32px;
      border-color: #f2a09e;
      border-radius: 100px;
    }
    .btn-selected {
      color: #ffffff;
      background-color: #f2a09e;
    }
  }
}

@media (min-width: 768px) {
  .pet-item {
    margin-bottom: 64px;
  }
}

.fw-medium {
  font-weight: 600;
}

// dogAccessories

.dog-bg {
  background: url("/images/index-dog-supplies-pc.png");
  background-size: cover;
  background-position: left;
  border-radius: 24px;
  height: 416px;
}

@media (min-width: 768px) {
  .custom-margin-start {
    margin-top: 48px;
    margin-left: 40px;
  }
}

.cat-bg {
  background: url("/images/index-cat-supplies-pc.png");
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  height: 416px;
}

@media (min-width: 768px) {
  .custom-margin-end {
    margin-top: 48px;
    margin-right: 40px;
  }
}

.pet-content-container {
  height: 304px;
  width: 284px;
}

.button-collection {
  justify-content: space-between;
  align-items: space-between;
}

.btn-accessories {
  padding: 16px 20px;
  border-radius: 6px;
  background-color: #ffffff;
  border-color: #f2a09e;
  align-items: center;
  color: #888888;
  transition: all 0.3s ease-in-out;
}

.btn-accessories svg {
  fill: #f2a09e;
  transition: fill 0.3s ease-in-out;
}

.btn-accessories:hover,
.btn-accessories:active {
  background-color: rgba(242, 152, 152, 0.87);
  color: #ffffff;
  border-color: #e7adac;
}

.btn-accessories:hover svg,
.btn-accessories:active svg {
  fill: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .dog-bg,
  .cat-bg {
    display: none;
  }
}

// 消費著回饋卡片

.consumer-card {
  width: 320px;
  margin-left: 50px;
}

@media (min-width: 768px) {
  .consumer-card {
    width: 210px;
  }
}

.consumer-tumb {
  height: 250px;
}

@media (min-width: 768px) {
  .consumer-tumb {
    height: 180px;
  }
}

.consumer-tumb img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
}

.consumer-details {
  padding: 10px;
}

.consumer-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #363636;
}

.consumer-details p {
  font-size: 14px;
}

.card-size {
  width: 100%;
  height: auto;
  margin: 30px auto;
}
// 輪播商品

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper {
  width: 100%;
  height: 450px;
  padding: 0 40px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #e7adac;
  position: absolute;
  z-index: 100;
  top: 65%;
  transform: translateY(-65%);
  display: flex !important;
}

.box-index {
  max-width: 1250px;
  margin-left: 22px;
}

// 卡片

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 330px;
  width: 100%;
  position: relative;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
  background: #fafafa;
  border-radius: 3%;
  max-width: 210px;
}

.product-card:hover {
  box-shadow: 0 6px 18px rgba(223, 193, 193, 0.795);
}

.badge-supplies {
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  height: 330px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .product-tumb {
    height: 180px;
  }
}
.product-tumb img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-h {
  height: 100px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #363636;
  text-decoration: none;
  transition: 0.2s;
}

.product-details h4 a:hover {
  color: #e7adac;
}
.product-details h4:active {
  color: #e7adac;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
}

.wishlist-btn {
  border: none;
}

.wishlist-btn:hover {
  background-color: inherit !important;
}

.wishlist-btn i {
  font-size: 17px;
}

.wishlist-btn[data-wishlisted="true"] i {
  color: #e7adac;
}

.wishlist-btn[data-wishlisted="false"] i {
  color: gray;
}
