// nav

@media (min-width: 992px) {
  .pt-header {
    padding-top: 50px;
  }
}

.Header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  height: 99px;
}
@media (min-width: 992px) {
  .Header-fixed {
    height: 150px;
  }
}

.logo {
  float: left;
}

.logo-style {
  display: block;
  width: 192px;
  height: 58px;
  background-image: url(/public/images/logo-1a41d290.png);
  background-position: center;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.nav-link:hover {
  color: #f2a09e !important;
}

@media (min-width: 992px) {
  .logo-style {
    width: 299px;
    height: 99px;
  }
}
.header-icon {
  display: inline-block;
  color: #e7adac;
  font-size: 24px;
}
.header-icon:hover {
  color: #888888;
}

.badge-style {
  font-size: 0.5rem;
}
@media (min-width: 992px) {
  .badge-style {
    font-size: 0.65rem;
  }
  .nav-gap {
    gap: 25%;
  }
}

.ion-me {
  margin-right: 100px;
}
@media (min-width: 992px) {
  .ion-me {
    margin-right: 0px;
  }
}

.register {
  margin-top: 146.98px;
}

.position-nav {
  position: absolute;
  top: -42px;
  right: 30px;
  border: 0px;
}

.dropdown-item:hover {
  background-color: #f3d9d8 !important;
}

/* 手機版 navbar menu  */

.menu-absolute {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 999;
  padding: 1rem 0;
}

.badge-i {
  bottom: 15px;
  left: 14px;
  font-size: 12px;
}

.icon-wrapper {
  margin-left: auto;
}
.header-icon {
  margin-right: 80px;
}
@media (min-width: 654px) {
  .header-icon {
    margin-right: 45px;
  }
}

@media (min-width: 771px) {
  .header-icon {
    margin-right: 55px;
  }
}

@media (min-width: 856px) {
  .header-icon {
    margin-right: 5px;
  }
  .icon-wrapper {
    margin-left: 0;
    margin-right: 12px;
  }
}

/* 平板以上回復預設位置 */
@media (min-width: 992px) {
  .menu-absolute {
    position: static;
    padding: 0;
    background-color: transparent;
  }
}

// footer
.media {
  font-size: 47px;
}

.footer-h {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 992px) {
  .footer-h {
    padding-top: 80px;
    padding-bottom: 64px;
  }
}

.media-br {
  border-top: 1px solid #f2a09e;
}

@media (min-width: 768px) {
  .media-br {
    border-top: 0px;
  }
}

.footer-br {
  border-top: 0px;
}
@media (min-width: 768px) {
  .footer-br {
    border-top: 1px solid #f2a09e;
  }
}

.footer-fs {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .footer-fs {
    font-size: 1.5rem;
  }
}
.footer-w {
  width: 265.77px;
}

@media (min-width: 768px) {
  .footer-w {
    width: 552px;
  }
}

.link-style {
  display: inline-block;
  color: #1e1e1e;
}

.footer-active:after {
  color: #f2a09e;
}

.haver-brand-01:hover {
  color: #f2a09e;
}

.fw-600 {
  font-weight: 600;
}
