html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  background-color: $brand-01;
  width: 100vw;
}
// 路徑
.breadcrumb {
  width: 100%;
  max-width: 1296px; 
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 69px;
  font-size: 24px;
  flex-wrap: wrap;
  a {
    color: $gray-05;
  }
  .breadcrumb-item.active {
    color: $gray-01;
    font-weight: bold;
  }
  li.breadcrumb-item::before {
    color: $gray-05;
  }
}

.row {
  display: flex;
  align-items: stretch; 
}

.col-md-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-img {
  width: 100%;
  height: auto;
  max-height: 100%; 
  object-fit: contain; 
}

.product-info {
  padding: 4rem;
  color: $gray-01;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quantity-container {
  max-width: 180px;
}

.btn-quantity {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 2px solid $gray-01;
  color: $gray-01;
}

.quantity-input {
  width: 50px !important;
  text-align: center;
  border: 1px solid $gray-03;
  height: 40px;
}

/* RWD 設定 */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-md-5 {
    width: 100%;
    height: auto;
  }

  .main-img {
    height: auto; 
  }

  .product-info {
    padding: 2rem;
  }
}

.btn-add-to-cart {
  border-radius: 8px;
  background-color: $brand-01;
  color: $gray-05;
}

.btn:hover {
  background-color: $brand-02;
  color: $gray-01;
}
.btn-selected {
  background-color: $brand-02;
}

.about-product {
  img {
    height: 378px;
    width: 100%;
    object-fit: cover;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background-color: $gray-04;
  border: 1px solid black;
}
td {
  border: 1px solid black;
  vertical-align: top;
  .content {
    margin: 15px 0 15px 40px;
  }
}
.title {
  text-align: left;
  font-weight: bold;
  display: block;
  margin: 12px 0 12px 40px;
} 
