.banner-product {
  background-image: url(https://images.unsplash.com/photo-1573435567032-ff5982925350?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  height: 562px;
}
@media (min-width: 768px) {
  .banner-img {
    height: 972px;
  }
  .banner-product {
    background-position: 50% 30%;
  }
}

.banner-dog-mt {
  margin-top: 290px;
}
@media (min-width: 768px) {
  .banner-mt {
    margin-top: 200px;
  }
}

@media (min-width: 768px) {
  .text-effect:hover {
    background-color: #e7adac;
  }
}
