/* 小型按鈕 */
.btn-brand {
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #E7ADAC;
  background-color: transparent;
  color: #E7ADAC;
  
  &.solid {
    background-color: #E7ADAC;
    color: white;
  }

  &.outline {
    background-color: transparent;
    color: #E7ADAC;
    border-color: #E7ADAC;
  }

  &:hover {
    background-color: #F2A09E;
    border-color: #F2A09E;
    color: white;
  }

  &.disabled {
    background-color: #f1f1f1;
    color: #ccc;
    border-color: #ddd;
    pointer-events: none;
  }
}

/* 大型按鈕 */
.btn-brand-lg {
  padding: 12px 32px;
  font-size: 1.2rem;  /* 大型按鈕使用稍大的字體 */
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #E7ADAC;

  &.solid {
    background-color: #E7ADAC;
    color: white;
  }

  &.outline {
    background-color: transparent;
    color: #E7ADAC;
    border-color: #E7ADAC;
  }

  &:hover {
    background-color: #F2A09E;
    border-color: #F2A09E;
    color: white;
  }

  &.disabled {
    background-color: #f1f1f1;
    color: #ccc;
    border-color: #ddd;
    pointer-events: none;
  }
}
