/* 讓 padding 與 border 計入寬度 */
* {
  box-sizing: border-box;
}

/* header */
header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  height: 193px;
  padding: 0 312px 32px;
  gap: 10px;
  background-color: white;
  margin: 0 auto;
}

header > .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1293px;
  height: 161px;
  gap: 24px;
}

header > .menu > .menuTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1293px;
  height: 92px;
  position: relative;
}

header > .menu > .menuTop > .menuTopTitle {
  width: 288px;
  height: 88px;
  top: 1px;
  padding: 8px 12px;
  position: absolute;
}

header > .menu > .menuTop > .menuTopTitle > .toolBarTopTitleImg {
  width: 264px;
  height: 72px;
  top: 8px;
  left: 12px;
  position: absolute;
}

header > .menu > .menuTop > .menuTopIcon {
  display: flex;
  justify-content: space-between;
  width: 116px;
  height: 92px;
  right: 0;
  padding: 24px 0;
  position: absolute;
  gap: 28px;
}

header > .menu > .menuTop > .menuTopIcon > i {
  font-size: 36px;
}

header > .menu > .menuBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 864px;
  height: 45px;
  gap: 120px;
}

header > .menu > .menuBottom .dropdown-navbar {
  border: none;
  background: white;
  font-family: "noto sans tc";
  color: black;
  font-weight: 700;
  font-size: 24px;
}

/* banner */
.banner {
  width: 100%;
  max-width: 1920px;
  gap: 40px;
  margin: 0 auto;
}

.banner .bannerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  height: 600px;
  background-color: rgba(102, 102, 102, 0.3);
  background-image: url("./banner.png");
  background-size: cover;
  background-position: center;
}

.banner .bannerText {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  font-family: "noto sans tc";
  color: var(--gray-05, rgba(250, 250, 250, 1));
  font-weight: 700;
  font-size: 80px;
}

.banner .container {
  padding: 40px 0;
  margin: 40px 312px;
  width: 100%;
  max-width: 1296px;
  border-radius: 20px;
  gap: 80px;
  background-color: rgba(243, 217, 216, 1);
}

.banner .container > .containerbanner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  max-width: 740px;
  border-bottom: 0.89px solid;
  background-color: rgba(243, 217, 216, 1);
  border: none;
  gap: 80px;
}

.banner .container > .containerbanner > .containerbannertext {
  width: 112px;
  height: 42px;
  font-family: "noto sans tc";
  color: black;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
}

.banner .container > .containercontentbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 80px auto 40px;
  width: 100%;
  max-width: 1192px;
  gap: 32px;
  border-radius: 24px;
  background-color: white;
}

.banner .container > .containercontentbox > .dog {
  position: absolute;
  width: 54px;
  height: 49px;
  top: -50px;
  left: 120px;
  background-image: url("./dog.png");
}

.banner .container > .containercontentbox > .cat {
  position: absolute;
  width: 54px;
  height: 49px;
  top: -50px;
  left: 700px;
  background-image: url("./cat.png");
}

.banner .container > .containercontentbox > .containercontentbox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 980px;
  margin: 60px 0;
  gap: 30px;
}

.banner
  .container
  > .containercontentbox
  > .containercontentbox2
  > .containercontentbox2text {
  display: flex;
  flex-direction: column;
  width: 836px;
  background-color: white;
}
//會員管理title
.banner
  .container
  > .containercontentbox
  > .containercontentbox2
  > .containercontentbox2text
  > .containercontentbox2title {
  width: 112px;
  font-weight: 700;
  font-size: 28px;
  font-family: "noto sans tc";
  color: black;
}

.banner
  .container
  > .containercontentbox
  > .containercontentbox2
  > .containercontentbox2text2
  > .containercontentbox2title2 {
  width: 112px;
  font-weight: 700;
  font-size: 28px;
  font-family: "noto sans tc";
  color: black;
}

/* 送貨資訊框 */
.banner
  .container
  > .containercontentbox
  > .containercontentbox2
  > .containercontentbox2text2 {
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  width: 836px;
  border: 1px solid rgba(242, 160, 158, 1);
  border-radius: 20px;
  gap: 0px;
}

/* 垂直排列的群組，內部每行間隔 8px */
.vertical-group {
  color: black;
  font-weight: 500;
  font-size: 20px;
  font-family: "noto sans tc";
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 10px; // 如需要更明顯的組與組間距，可調整此值
}

/* 性別設定 水平排列的群組，內部元素之間間距 8px */
.radio-group {
  display: flex;
  gap: 15px;
}

/* 出生年月日設定 水平排列的群組，內部元素之間間距 8px */
.horizontal-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* 輸入框 */
.inputbox {
  border-radius: 4px;
  border: 2px solid rgba(136, 136, 136, 1);
}

.input-container {
  position: relative;
  margin-bottom: 0.5rem; /* 可調整間距 */
}

.error-text {
  position: absolute;
  right: 10px;
  bottom: -32px; /* 與 input 底線保持約32ㄋpx的距離，可依需求調整 */
  font-size: 14px;
}

/* 按鈕 */
.submit-button {
  width: 104px;
  height: 50px;
  border: none;
  border-radius: 100px;
  background-color: rgba(231, 173, 172, 1);
  margin-left: -80px;
  margin-top: 977px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
  font-family: "noto sans tc";
  color: white;
}
